parser.tab.c
.vscode/
parser.tab.h
parser.output
parser
parser.output
lexer
parser.gv
lex.yy.c
a.out
.DS_Store
trash.txt
.rarser
output.txt
temp.pdf
raph
output.txt
ast.dot
out.dot
debug.txt
doubt*
input.py
.debuglog
symbol_table.csv
